---
import BaseLayout from "../layouts/Baselayout.astro";
import { IndexJsx } from "../component/index";
const page = "About";
---

<BaseLayout>
  <h1>testing {page} pake baselayout anjg</h1>
  <IndexJsx />
</BaseLayout>
