---
import Baselayout from "../layouts/Baselayout.astro";
import { motion } from "framer-motion";
const name = "Imanuel Cio";
const title = "Home Page";
import Post from "../component/Post";
---

<Baselayout title={title} client:load>
  <div class="flex justify-center place-items-center w-full h-[600px]">
    <div class="text-6xl font-serif">
      <motion.div>
        <h1>
          Hello, I'm <span
            class="font-bold text-pink-600 border-b-4 border-r-4 py-2 px-2"
            >{name}</span
          >!
        </h1>
      </motion.div>
      <div></div>
    </div>
  </div>
</Baselayout>
