---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <section class="mx-10">
      <nav>
        <ul
          class="flex rounded-b-md place-items-center justify-around py-3 bg-pink-500"
        >
          <a
            href="/"
            class="bg-pink-400 px-5 py-2 rounded text-white hover:bg-pink-600 hover:text-bold"
          >
            <li>Home</li>
          </a>
          <a
            href="/about"
            class="bg-pink-400 px-5 py-2 rounded text-white hover:bg-pink-600 hover:text-bold"
          >
            <li>About</li>
          </a>
          <a
            href="/contact"
            class="bg-pink-400 px-5 py-2 rounded text-white hover:bg-pink-600 hover:text-bold"
          >
            <li>Contact</li>
          </a>
        </ul>
      </nav>
      <slot>
        <!-- isi kontent -->
      </slot>
    </section>
  </body>
</html>
