---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <section class="mx-10">
      <nav>
        <ul
          class="flex rounded-b-md place-items-center justify-around py-3 bg-cyan-600"
        >
          <a href="/" class="bg-cyan-400 px-5 rounded text-white">
            <li>Home</li>
          </a>
          <a href="/about" class="bg-cyan-400 px-5 rounded text-white">
            <li>About</li>
          </a>
          <a href="/contact" class="bg-cyan-400 px-5 rounded text-white">
            <li>Contact</li>
          </a>
        </ul>
      </nav>
      <slot>
        <!-- isi kontent -->
      </slot>
    </section>
  </body>
</html>
